a {
  color: white;
  text-decoration: none;
}
.spacer {
  flex: 1 1 auto;
}

span:not(first-child) {
  font-size: 0.7em;
  padding: 0 1em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  div.leftColumn {

    flex-basis: 250px;
  }
  div.rightColumn {
   
    flex-shrink: 2;
  }

  div.centerColumn {
    background-color: rgba(122, 211, 132, 0.061);
    flex-basis: 600px;
  }
}

.active {
  color: palevioletred;
}

mat-spinner{
  margin: 10px auto;

}
