a {
  color: white;
  text-decoration: none;
}
.spacer {
  flex: 1 1 auto;
}

span:not(first-child) {
  font-size: 0.7em;
  padding: 0 1em;
}

.container {
  display: flex;
 flex-direction: row;
 flex-wrap: nowrap; ;
  height:200px;
  div.leftColumn {
    background-color: yellow;
    flex-basis: 250px;

  }
  div.rightColumn {
    background-color: rgb(255, 166, 0);

    flex-shrink: 2;
  }

  div.centerColumn {
    background-color: rgba(0, 255, 30, 0.061);
    flex-basis: 600px;

  }
}

.active{
  color: palevioletred;
}
