div.container {
  width: 100%;
  height: 100%;
  background-color: hotpink;
  position:relative;
  mat-carousel {
    position:relsative;
    top: 20px;
    width: inherit;
    height: auto;
    mat-carousel-slide {
      height: 960px;
    }
  }
}
