<div class="wrapper">
  <span mat-dialog-close="cancel" class="material-icons">
    clear
  </span>
  <mat-card>
    <mat-card-subtitle>Enter password</mat-card-subtitle>
    <mat-card-content>
      <form #form="ngForm" (submit)="onSubmit(form)">
        <mat-form-field>
          <input matInput name="password" [(ngModel)]="password" type="string" placeholder="password"
            #passwordInput="ngModel" required password >
          <mat-error *ngIf="passwordInput.invalid">Please enter your password</mat-error>
        </mat-form-field>
        <div>
          <button type="submit" mat-button>
            Next
          </button>
          <button mat-button mat-dialog-close mat-dialog-close="forgetPassword">
            Forget password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
