<ng-container *ngIf="currentCategory">
  <div *ngFor="let cat of selectedCategories">
  <p>You selection: {{cat.categoryName | capitalLetter}} + <span class="tagList" *ngFor="let item of cat.tags">{{item}}</span></p>
</div>
</ng-container>
<mat-card>
  <form [formGroup]="form" #myForm="ngForm" (submit)="onSavePost(myForm)">
    <mat-form-field>
      <mat-label>Select a category</mat-label>
      <mat-select formControlName="category" (selectionChange)="onCategorySelect($event)">
        <mat-option [value]="null" disabled>Select Category</mat-option>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{cat.name | capitalLetter}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--   <mat-error *ngIf="category.invalid">Please select a category</mat-error> -->





    <mat-form-field *ngIf="currentCategory">
      <mat-label>Select subcategory</mat-label>
      <mat-select formControlName="subcategory" (selectionChange)="onSubcategorySelect($event)" multiple>
        <mat-option *ngFor="let subCat of currentCategory.tags" [value]="subCat">
          {{subCat.name | capitalLetter}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category').invalid">Please select a category.</mat-error>
    </mat-form-field>

    <div >
      <button mat-stroked-button type="button" color="primary" (click)="onAddCategory()">One more category</button>
      <button mat-stroked-button type="button" color="accent" (click)="onCancelAddCategory()">Cancel</button>
    </div>
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button matTooltip="not more than 5 images"  [disabled]="imagePreviews.length == maxImageQuantity" mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" class="imagesPreview">
       <div *ngFor="let img of imagePreviews" >

      <img [src]=img alt="fdfdfd">
    </div>
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post.</mat-error>
    </mat-form-field>
 <!--    <button mat-raised-button color="accent" [disabled]="form.invalid" type="submit">Save Post</button> -->
    <button mat-raised-button color="accent"  type="submit">Save Post</button>
    <button mat-raised-button color="main" type="button" (click)="onReset()">Reset</button>
    <button mat-raised-button color="primary" type="button" (click)="onCancelCreatePost()">Cancel</button>
  </form>
  <p>formStatus: {{form.status}}</p>
</mat-card>
