mat-card {
  margin: 1rem auto;
  width: 90%;
  padding: 0 0.5rem;
  mat-card-subtitle {
    font-size: 0.9em;
  }
  mat-card-content {
    height: auto;
    p {

      max-height: 200px;
      overflow: hidden;
      padding: 5px;
      text-overflow: ellipsis;
      border-top: 1px solid grey;
      margin: 1rem auto;
    }
  }
  mat-card-actions {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    button {
      font-size: 0.8em;
      height: auto;
    }
  }
}

mat-spinner {
  width: 90%;
  margin: auto;
}

div.post-image {
  width: 486px;
  margin: auto;
  box-sizing: content-box;
}
p.meta {
  width: auto;
  display: flex;
  font-size: 0.8em;
  font-style: italic;
  background-color: rgba(209, 209, 205, 0.5);
  margin: 0;
  // padding: 0 1em;
  span.sp {
    flex: 1 0 auto;
  }
  span.currentTag {
    color: palevioletred;
  }
}
