<div class="wrapper">
  <span mat-dialog-close class="material-icons">
    clear
  </span>
  <mat-card>
    <mat-card-subtitle>Select a role</mat-card-subtitle>
    <mat-card-content>
      <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">

        <input type="radio" value="master" name="role" [ngModel]="role" required #roleInput="ngModel"> Master
        <input type="radio" value="customer" name="role" [ngModel]="role" required #roleInput="ngModel">User
        <mat-error *ngIf="roleInput.invalid && roleForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
          Role required.
        </mat-error>
        <div>
          <button type="submit" mat-button>
            Next
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
