:host{
  background-color: yellow;
}

.wrapper{
  position: relative;
  background-color: green;
  padding: 1em;
  margin: 0;
}
span.material-icons {
  position: absolute;
  z-index: 50;
  top: 0;
  right:0;
  background-color:red;
  cursor: pointer;
}
